<div class="container mt-3">
  <h3>Offer for <%= @offer.name %></h3>
  <p class="text-danger">This has been booked <%= @offer.bookings.count %> times</p>
  <%= simple_form_for @booking do |f| %>
    <%= f.input :start_time, as: :datetime %>
    <%= f.input :end_time, as: :datetime %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
</div>
