<div class="container text-center mt-5">
  <h2>Book a flat</h2>
  <p>Check out the offers below</p>

  <div class="mt-3 d-flex">
    <% @offers.each do |offer| %>
      <div class="offer">
        <b><%= offer.name %></b> <br>
        <%= offer.description %> <br>
        Listed by <%= offer.owner.name %> <br>
        Price: $<%= offer.price %>
        <%= link_to "Book", offer_path(offer), class: "btn btn-primary btn-block mt-3" %>
      </div>
    <% end %>
  </div>
</div>
